{% extends 'one/index.html' %}
{% load static %}

{% block changepage %}

<div class="aboutmain">
    <div class="aboutview">
        <img src="{% static 'one/assets/hollow.jpg' %}" alt="">
    </div>
    <div class="aboutp">
        <p>Hola mi nombre es Sadrac Araneda Isla, tengo 26 años y soy de la región de 
            O’Higgins, Chile y mi profesión es ingeniería en informática, la cual estudie en la universidad tecnológica de Chile INACAP.
            <br>
            <br>
            La razón de por que estudie esta carrera es porque siempre me ha interesado 
            la tecnología, desde que tengo memoria siempre he estado “jugando” con todo 
            lo que sea tecnología, me gustaba abrir los pc, TV’s o cualquier cosa 
            electrónica y ver como se funcionaban, gracias a esto aprendí mucho sobre 
            hardware, software, armar y desarmar equipos y hacer a realizarles 
            mantenciones. Después quise que estudiar algo relacionado a la tecnología 
            para seguir aprendiendo mas a profundidad, fue entonces cuando conocí SQL 
            Server y Python, los cuales me interesaron mas que cualquier otra cosa, por 
            lo que decidí que enfocaría mi carrera en algún momento a trabajar en 
            machine learning, en inteligencia artificial, como DevOps y etc.
            <br>
            <br>
            Mis competencias son: Conocimientos en Python, Django, C#, JAVA, JS, HTML, CSS, en a los motores de base de datos, los que he utilizado son SQL SERVER, MySQL, ORACLE DATABASE Y SQLITE. <br>
            También poseo competencias en sistemas operativos Windows, Windows Server y Linux (RedHat) y conocimientos en hardware como soporte, conexiones, reparaciones y mantenciones.<br>
            También poseo conocimientos de herramientas como Power BI, Bizagi, MS Project, Office, Visio, Balsamiq, entre otras y en conocimientos en diferentes metodologías como Scrum, Cascada, espiral, etc.
            </p>
    </div>
</div>

{% endblock  %}


