<!DOCTYPE html>
<html>
    {% extends 'one/index.html' %}
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block changetitle %}
        <title>Playstation</title>
        {% endblock %}   
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        {% block changepage %}
        <div class="gridview">
            {% for g in games %}
                {% if g.plataforma == 0 %}
            <div class="grid_list">
                <a id="griddir" href="{% url 'contenido' g.id %}">         
                        <h2>{{g.nombre}}</h2>
                    <div class="grid_list_2">
                        <div class="grid_p">
                        {% if g.plataforma == 0 %}
                        <p>Playstation</p>
                        {% elif g.plataforma == 1 %}
                        <p>Xbox</p>
                        {% elif g.plataforma == 2 %}
                        <p>Switch</p>
                        {% elif g.plataforma == 3 %}
                        <p>PC</p>
                        {% endif %}
                        <p>$ {{g.precio}} CLP</p>
                        {% if g.stock > 0 %}
                        <p style="color: #1dd117;">Disponible</p>
                        {% else %}
                        <p style="color: #ec1f1f;"> No Disponible</p>
                        {% endif %}
                    </div>
                        {% if g.imagen %}
                            <img id="img_grid" src="{{ g.imagen.url }}" alt="{{ g.nombre }}">
                        {% else %}
                            <p>No hay imagen disponible.</p>
                        {% endif %}               
                    </div>
                </a>
            </div>
                {% endif %}
            {% endfor %}    
        </div>

        {% endblock  %}

        
        <script src="" async defer></script>
    </body>
</html>