* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}

// html{
//     background-image: url(../assets/mario.jpg);
//     background-size: cover;
// }

body {
    background-image: url(../assets/mario.jpg)  !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

a {
    color: #fff !important;
}

button{
    text-decoration: none;
}

//-------------------------------------------------------------------

.navbar {
    height: 60px;
    background: #5265b8 !important;
    border-bottom: 1px solid #000 !important;
    font-variant: small-caps;
}
.container-fluid {
    width: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.navbar-brand {
    display: flex;
    text-align: right;
}

.navbar-brand img{
width: 40px;
}

.nav-link {
    padding: 0 !important;
    margin: 0 10px !important;
}

.nav-link:hover {
    border-bottom: #008507 1px solid !important;
}

.carousel-inner {
    height: 40pc !important;
}

.carousel-inner img {
    position: relative;
    max-width: 40pc;
    left: 30%;
}
//--------------------------------------------------------------------

.aboutmain {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 5% 15%;
    height: 38pc;
    background: #fff;
}

.aboutview{
    display: flex;
    flex-wrap: wrap;
}

.aboutview img{
    width: 300px;
    margin: 30px 40px;
    height: 350px;
}

.aboutp{
    font-size: 15px;
    padding: 25px 1pc;
    word-spacing: 3px;
}

//--------------------------------------------------------------------

.gridview {
    display: flex;
    gap: 15px 3.5pc;
    align-items: flex-start;
    justify-content: left;
    margin: 1pc 0 0 5pc;
    flex-wrap: wrap;
}

#griddir {
    width: auto;
    height: auto;
    color: #000;
}

.grid_list {
    background:linear-gradient(#cce9b5 80%, #a0a5be);
    width: 22pc !important;
    height: 19pc !important;
    padding: auto !important;
    border: 2px solid #9194bd !important;
    border-radius: 15px !important;
    -webkit-box-shadow: 5px 5px 20px 0px;
}

.grid_list_2 {
    display: flex;
    color: #0f0f0f !important;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 5px;
    
    // -webkit-box-shadow: 5px 5px 20px 0px
}

.grid_p{
    width: auto;
    height: 5px;
    display: grid;
    grid-template-rows: 5pc;
}

.grid_list h2 {
    display: block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #000 !important;
}

.grid_list p {
    width: auto;
    padding: auto;
    margin: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    
}

#img_grid {
    width: 60%;
    height: 220px;
    border: 1px solid #000 !important;  
    -webkit-box-shadow: 1px 1px 20px 0px;
}

// ----------------------------------------------------------------

#liscre {
    position: fixed;
    width: 10%;
    height: 3pc ;
    font-size: 35px;
    margin: 40px 0 0 4%;
    padding: 0 0 3.5pc 0;
    color: #000 !important;
    background: #4abd4f !important;
    text-decoration: none;
    border: 1px solid #290b7c;
    border-radius: 25px;
}

#liscre:hover {
    background: #2a0c7e !important; 
    border: 1px solid #100b1f;
    transition: .1s;  
}

.tlist {
    display: flex;
    width: auto;
    // background: #ffffff;
    color: #000 !important;
    font-size: 25px;
    margin: 0 15pc;
    padding: 50px;
    border-radius:15px ;
}

.tlist th {
    background: #6376df;
    color: #000 !important;
    border: 2px solid #000 !important;
    text-align: center;
    padding: 10px 50px;
}

.tlist td {
    font-size: 18px;
    width: auto;
    border: 2px solid #000 !important;
    text-align: center;
    background: #f5f4f4;
    border-radius:5px ;
}

.tlist #lisdel{
    width: 80%;
    color: #fcfafa;
    margin: 5px;
    padding: 5px;
    background: #ce3333;
    text-decoration: none;
    border: groove 0 #050505;
    border-radius: 5px;
}

.tlist #lisup{
    width: 80%;
    color: #fcfafa;
    margin: 5px;
    padding: 5px;
    background: #4952d3;
    text-decoration: none;
    border: groove 0 #050505;
    border-radius: 5px;
}

//------------------------------------------------------------------

.formreg{
  background: #2036b47e;  
  display: grid;
  width: 30pc;
  height: auto;
  padding: 20px  10px 20px ;
  margin: 50px 0 0 37%;
  border: 1px solid #072007;
  border-radius: 20px;
}

#hform{
    color: #000000;
    text-align: center;
}

#form-label{
    color: #000000;
    font-weight: 550;
    font-size: 22px;
    font-style: italic;
    width: 0;
    margin: 10px 0 0 5%;
}

#input-form{
    width: 88%;
    margin: 10px 0 0 5%;
    outline: none;
    padding: 5px;
}

#input-form-d{
    display: flex;
    width: 88%;
    margin: 10px 0 0 5%;
    padding: 5px 0 70px 5px;
    outline: none;
}

#sel-reg{
    width: 88%;
    margin: 10px 0 0 5%;
    padding: 5px;
}

#btn-reg{
    width: 28%;
    margin: 5% 0 0 35%;
    padding: 5px;
    color: #fff;
    font-size: 25px;
    background: #0037ad;
    border: #000 1px solid;
    border-radius: 10px ;
}