<!DOCTYPE html>
<html>
    {% extends 'one/index.html' %}
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block changetitle %}
        <title> Formulario PS</title>
        {% endblock %}   
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block changepage %}

        <form class="formreg" action="/forms/" method="POST" enctype="multipart/form-data"> {% csrf_token %}

            <h1 id="hform">Formulario de registro</h1>

            <label id="form-label">Nombre</label>
            <input id="input-form" name="nombre" type="text" placeholder="Nombre" required>
            <label id="form-label">Precio</label>
            <input id="input-form" name="precio" type="number" placeholder="Precio" required>
            <label id="form-label">Descripcion</label>
            <input id="input-form-d" name="descripcion" type="text" placeholder="Descripcion" required>
            <label id="form-label">Stock</label>
            <input id="input-form" name="stock" type="number" placeholder="Stock" required>

            <label id="form-label">Plataforma</label>
            <select name="plataforma" id="sel-reg">
                <option value="0" selected>PlayStation</option>
                <option value="1">Xbox</option>
                <option value="2">Switch</option>
                <option value="3">PC</option>
            </select>
            
            <label id="form-label">Imagen</label>
            <input id="input-form" name="imagen" type="file" required>

            <button id="btn-reg" name="btn-reg" type="submit" >Registrar</button>
        
        </form>

        {% endblock  %}

            <script src="" async defer></script>
    </body>
</html>