<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block changetitle %}
        <title> Inicio de Sesion</title>
        {% endblock %}   
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'folders/css/csslogin.css' %}">
    </head>
    <body>
        {% block changepage %}
    <div class="form-main">
        <form class="formuser" action="" method="POST"> {% csrf_token %}
        
            <h1 id="hform">Iniciar Sesion</h1>

        <div class="form-content">
            <label id="form-label">Nombre</label>
            <input id="input-form" name="username" type="text" placeholder="Nombre" required>
            <label id="form-label">Contraseña</label>
            <input id="input-form" name="password" type="password" placeholder="Contraseña" required>
            <button id="btn-reg" name="btn-reg" type="submit" >Ingresar</button>
            <p>¿No tienes cuenta? Registrate a&nbsp<a href="{% url 'register' %}"> Aqui</a></p>
        </div>

        {% if err %}
            <p id="perr">{{err}}</p>
        {% endif %}

        </form>
    </div>


        {% endblock  %}

            <script src="" async defer></script>
    </body>
</html>